body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 10px;
  color: rgb(0, 191, 255);
}
.nav-links li {
  cursor: pointer;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  max-width: 1400px;
  margin: auto;
}
nav span {
  color: rgb(0, 191, 255);
}
section div {
  flex: 1;
}
section img {
  flex: 1;
}
section {
  display: flex;
  align-items: center;
}
section div h1 {
  max-width: 30vw;
  background-color: white;
  font-size: 4vw;
}
a {
  color: black;
}
